/* Resets */

:root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;

  --accent-color: #ee6e73;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-family: sans-serif;
}

/* Main layout */

body {
  margin: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "current targets"
                       "food food";
  grid-gap: 100px;
}

/* .panel */
.panel {
  border: 1px solid var(--accent-color);
}

.panel h2 {
  font-size: 3.56rem;
  font-weight: normal;
  margin: 0 0 1.68rem 0;
  text-align: center;
}

.panel .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* #current */

#current {
  grid-area: current;
}

/* .nutrient */

.nutrient {
  display: grid;
  text-align: center;
  position: relative;
  padding: 60px 40px;
}

.nutrient .number {
  font-size: 2.92rem;
  display: inline-block;
  text-align: right;
}

.nutrient input[type="number"].number {
  border: none;
  border-bottom: 1px solid #9e9e9e;
}

/* TODO: maybe use a (non-ugly) fixed width font for these. The .2 is hacky and error-prone */
.nutrient input[type="number"].number.kcal {
  width: 5.2ch;
}

.nutrient input[type="number"].number.mg {
  width: 4.2ch;
}

.nutrient .unit {
  font-size: smaller;
  color: gray;
}

/* nutrient-meter */

nutrient-meter[name="Energy"] {
  --full-color: #ff8a80;
}

nutrient-meter[name="Protein"] {
  --full-color: #1e88e5;
}

/* #targets */

#targets {
  grid-area: targets;
}

/* .time */
.time {
  text-align: center;
  margin-bottom: 30px;
}

/* #food */

#food {
  grid-area: food;
}
