/* Resets */

:root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;

  --accent-color: #344955;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* Main layout */

body {
  --horizontal-margin: 72px;
  margin: 100px var(--horizontal-margin);
  display: grid;
  gap: 30px;
}

@media (max-width: 767px) {
  body {
    --horizontal-margin: 16px;
  }
}

#panels {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(460px, 100%));
  gap: 30px;
  justify-content: space-evenly;
}

/* header */

header {
  --height: 56px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  height: var(--height);
  padding: 0 0 0 var(--horizontal-margin);
  display: flex;
  align-items: center;
  font-size: 22px;
  color: white;
  background: var(--accent-color);
  box-shadow: 0 4px 5px 0 rgba(0 0 0 / 0.14),
              0 1px 10px 0 rgba(0 0 0 / 0.12),
              0 2px 4px -1px rgba(0 0 0 / 0.2);
}

header > h1 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
  flex: 1;
}

header > a {
  display: block;
  width: var(--height);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > a:hover {
  color: #eee;
}

/* .panel */
.panel {
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 16px;
}

.panel h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding: 13px 0;
  text-align: center;
}

.panel .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* TODO: kind of lame to hard-code in 200px */
  justify-items: center;
}

/* nutrient-meter */

nutrient-meter[name="Energy"] {
  --full-color: #ff8a80;
}

nutrient-meter[name="Protein"] {
  --full-color: #1e88e5;
}

/* .nutrient */

.nutrient {
  display: grid;
  text-align: center;
  position: relative;
  padding: 40px 10px;
}

/* TODO: maybe use a (non-ugly) fixed width font for these. The .2 is hacky and error-prone */
.nutrient input[type="number"] {
  font-size: 2.92rem;
  display: inline-block;
  text-align: center;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  width: 5.2ch;
}

.nutrient .unit {
  font-size: smaller;
  color: gray;
}

/* .time */
.time {
  text-align: center;
  margin-bottom: 30px;
}

/* #food */

#food {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 30px;
  justify-items: center;
  justify-content: center;
}

#food food-button {
  text-align: left;
}
